{% extends "base.html" %}

{% block content %}

<body>
    {% if entry_list %}
    {% for entry in entry_list %}
    <article>
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>

        <p class="subheader">
            <time>{{ entry.modified_at|date }}</time>
        </p>

        <p></p>

        {{ entry.body|linebreaks }}

    </article>
    {% endfor %}
    {% else %}
    <p> No blog entries yet.</p>
    {% endif %}
    <!-- <section class=" row">
        <header class="large-12 columns">
            <h1>Welcome to This Blog</h1>
        </header>
    </section> -->
</body>

{% endblock content %}